<div class= "container">
  <div class= "col-12 row">
    <div class="annotation">本サイトはポートフォリオとして作成したものであり、<br>実際に使用される事を意図しておりません。</div>
  </div>
  <div class= "col-8 offset-2">
    <div>
      <h1 class="about-block-heading">使用方法説明</h1>
      <h2 class= "function-name mt-3">◯WisdomPost機能</h2>
      <p>
        この機能はお年寄りから得た知見や教え、学びを投稿することで多くの人と学びを共有するコミュニティサイトです。<br>
        投稿は検索・閲覧することができ、将来的には先人の知恵の百科事典のような位置付けのコミュニティサイトになることを目指しています。<br>
        WisdomPost画面はヘッダーが水色です。
      </p>
      <h3 class="subheading">投稿</h3>
      <p>
        ヘッダーにある「NewPost」から新規投稿ページへ移行することができます。<br>
        みんなで共有したい学びや、お年寄りから得た知見をたくさん投稿しちゃいましょう！<br>
        ゲストユーザーとしてログインしている場合には投稿を行うことができません。
      </p>
      <h3 class="subheading">閲覧</h3>
      <h4 class="subtitle">WisdomPost</h4>
      <p>
        ヘッダーにある「Wisdoms」から、これまでに投稿された投稿一覧を見ることができます。<br>
        WisdomPostの一覧ページには検索窓も設置されており、自分が見たい投稿を絞り込むことができます。<br>
        たくさんの投稿から多くの学びを吸収しよう！<br>
        一覧ページから個別の投稿をクリックすると、その投稿の詳細ページへ辿り着きます。<br>詳細ページでは投稿の内容を詳しく見ることができるほか、投稿へのコメントを残すこともできます。<br>
        気に入った投稿にはコメントを残し、色々な人とコミニュケーションをとってみよう！
      </p>
      <h4 class="subtitle">User</h4>
      <p>
        ヘッダーにあるUsersをクリックすると登録済みユーザーの一覧を見ることができます。<br>User一覧ページにも検索窓が設定されており、ユーザーを絞り込むことができます。<br>
        気になったユーザーは名前をクリックすることで、ユーザーの詳細ページに移動することができます。<br>詳細ページには、ユーザープロフィールやこれまでの投稿一覧が表示されています。<br>
        気になるユーザーがいた場合には、詳細ページを見てみよう！
      </p>
      <h3 class="subheading">グループ</h3>
      <p>
        ヘッダーにあるUsersをクリックするとUser一覧が表示ざれます。<br>このページの右上（スマートフォンの場合は上）を見てみると、グループ一覧と書かれたボタンがあります。<br>
        このボタンをクリックすると、作成されているグループの一覧が表示されます。<br>気になるグループを見つけた場合には「Join this group」ボタンを押し、グループに参加しよう！<br>
        もし自分でグループを作りたくなった場合には、グループを作成することもできます。<br>グループを作成すると、参加ユーザーにイベント告知メールを送信できるようになります。<br>
        グループ機能は、ゲストユーザーとしてログインしている場合にはご利用いただけません。
      </p>
      <h2 class= "function-name mt-3">◯NorituNoraretu機能</h2>
      <p>
        この機能は交通弱者のお年寄りと車を持っている若者とのマッチング機能です。<br>
        現在、高齢者が運転する車による事故が社会問題となりつつあります。そのため高齢ドライバーへの運転免許返納を求める意見が多く上がっています。<br>
        しかし、地方にはまだまだ車を所有していなければ生活できない地域が多くあります。そのような地域に住むお年寄りが運転免許を返納すると、生活を送ることが困難になります。<br>
        他方、最近の若者は悩みを多く抱えています。（人生について・仕事に関して・子育ての悩み・介護の悩み・進路・恋愛・冠婚葬祭について）<br>
        この機能は移動が困難なお年寄り（免許返納などの理由で）と悩める若者の二者をつなぎ合わせ、双方の問題を解決するサービスです。<br>
        本サービスの機能によりシニアユーザーが依頼投稿を投稿し、投稿に都合の合うヤングユーザーがいいねを押します。<br>この時点でマッチングが成立し、DM機能が利用可能となります。
        その後は双方で予定をすり合わせ、双方合意のもと若者はお年寄りに移動手段（車　運転者は若者）を提供し、移動中の車内ではお年寄りが若者に人生相談を提供します。<br>
        WisdomPostの画面にいる際は、ヘッダーにあるNNへをクリックすることでNorituNoraretu機能のページへ移行します。<br>
        NorituNoraretu機能の画面はヘッダーが黄色になっています。
      </p>
      <h3 class="subheading">概要</h3>
      <p>
        NorituNoraretu機能のページに移行すると真っ先に辿り着くのが投稿一覧ページです。<br>
        このページではシニアユーザーが投稿した移動依頼の一覧を見ることができます。<br>個別の投稿をクリックすると依頼の詳細を見ることができます。<br>詳細ページにある「いいね」ボタンは、自分がこの依頼に答えられます！という意思表示となり、いいねを押すことによってその意思を投稿者のシニアユーザーに伝えることができます。<br>
        いいねを押すとDMルームが作成され、投稿者のシニアユーザーと直接話し合うことができます。<br>
        DM機能で話し合いの後、双方の合意が取れた場合には若者がお年寄りに移動手段（車　運転者は若者）を提供し、目的地まで移動中の車中ではお年寄りは若者の相談に乗りましょう。<br>
        その後若者は、会話の中で得た知見などをWisdomPost機能で投稿することにより、学びを多くの人と共有することができます。<br>
      </p>
      <h3 class="subheading">いいね一覧</h3>
      <p>
        ヘッダーにある「いいね」をクリックすると、これまでにいいねした投稿の一覧を見ることができます。<br>このページから個別投稿に移行することで、投稿に紐づいているDMルームに行きやすくなります。
      </p>
      <h1 class="about-block-heading">トラブル懸念点への対応等</h1>
      <p class= "mt-3">
        本サイトは法律に準拠して使用される事を意図しています。<br>
        本サイトを介しての犯罪行為・それに準ずる行為は固く禁じます。<br>
        本サイトを使用してのトラブルに関しては一切の責任を負いません。
      </p>
    </div>
  </div>
</div>











