<h1>グループ一覧</h1>
<% @groups.each do |group| %>
  <div>
    <%= image_tag group.get_group_image(100,100) %>
    <%= link_to young_group_path(group) do %>
      <%= group.name %>
    <% end %>
    <%= group.introduction %>
  </div>
 <% end %>
