<div class= "row">
  <div class="col-12">
    <div class= "row">
      <div class= "col-4">
        <%= image_tag young_user.get_profile_image(500,500), class: "side_bar_profile_image mt-3 rounded-circle"%>
      </div>
      <div class= "col-6 offset-2 d-flex align-items-center justify-content-center mt-3">
        <h3><strong><%= young_user.name %></strong></h3>
      </div>
    </div>
    <div class= "row">
      <div class= "col-10 mt-2">
         <h6><strong>紹介文</strong></h6>
      </div>
    </div>
    <div class= "row">
      <div class=" col-11 offset-1">
        <%= simple_format(young_user.introduction, sanitize: true) %>
      </div>
    </div>
    <div class= "row ">
        <% if young_user==current_young_user && young_user.email != "guest@example.com" %>
          <%= link_to edit_young_user_path(current_young_user.id),class:"btn btn-outline-secondary btn-block" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        <% end %>
    </div>
  </div>
</div>








