
<%= image_tag young_user.get_profile_image(100,100) %>
<h4>ユーザーネーム</h4>
<%= young_user.name %>
<h4>紹介文</h4>
<%= young_user.introduction %>
<div>
  <% if young_user==current_young_user %>
    <%= link_to "プロフィール編集", edit_young_user_path(current_young_user.id) %>
  <% end %>
</div>