<div class= "container">
  <div class= "col-12 row">
    <div class="annotation">本サイトはポートフォリオとして作成したものであり、<br>実際に使用される事を意図しておりません。</div>
  </div>
  <div class= "row">
    <div class= "col-8 offset-2">
      <div>
        <h1 class="about-block-heading">サイトテーマ</h1>
        <p class="mt-2">本サイトはお年寄りの知恵や経験を記録として残し、後の世代に語り継ぐことをテーマに制作したサイトです。</p>
      </div>
      <div>
        <h1 class="about-block-heading">サイト構成</h1>
        <p class="mt-2">サイトは大きく下記二つの機能から構成されています</p>
        <p>・WisdomPost機能</p>
        <p>・NorituNoraretu機能</p>
      </div>
      <div>
        <h1 class="about-block-heading">サイト構成</h1>
        <div class= "function-introduction mt-4">
          <h2 class= "function-name">◯WisdomPost機能</h2>
          <p>
            この機能はお年寄りから得た知見や教え、学びを投稿することで多くの人と学びを共有するコミュニティサイトです。<br>将来的には先人の知恵を集めた百科事典のようなコミュニティサイトになることを目指しています。
          </p>
          <h3 class="subheading">概要</h3>
          <p>
            ・お年寄りから得た知見などを投稿する<br>
            ・その投稿が誰かの問題解決の糸口となることを目指す<br>
            ・投稿にはコメント機能があり、投稿にコメントを残すことができる<br>
            ・キーワード検索機能を活用し、より自分に合った投稿を検索することもできる
          </p>
          <h3 class="subheading">使用状況</h3>
          <p>
          ・お年寄りから学んだ情報を多くの人に共有したいとき<br>
          ・後世に語り継ぎたいことがある時<br>
          ・悩みを解決したい時<br>
          ・先人の教えを人生の参考にしたい時
          </p>
          <p>これらの時はきっとこのサイトが手助けになるでしょう</p>
        </div>
        <div class= "function-introduction mt-4">
          <h2 class= "function-name">◯NorituNoraretu機能</h2>
          <p>
            この機能は交通弱者のお年寄りと、車を持っている若者のマッチング機能です。<br>
            現在、高齢者が運転する車による事故が社会問題となりつつあります。そのため高齢ドライバーへの運転免許返納を求める意見が多く上がっています。<br>
            しかし、地方にはまだまだ車を所有していなければ生活できない地域が多くあります。そのような地域に住むお年寄りが運転免許を返納すると、生活を送ることが困難になります。<br>
            他方、最近の若者は悩みを多く抱えています。（人生について・仕事に関して・子育ての悩み・介護の悩み・進路・恋愛・冠婚葬祭について）<br>
            この機能は移動が困難なお年寄り（免許返納などの理由で）と悩める若者の二者をつなぎ合わせ、双方の問題を解決するものです。<br>
            本サービスの機能によりシニアユーザーが依頼投稿を投稿し、投稿に都合の合うヤングユーザーがいいねを押します。<br>この時点でマッチングが成立し、DM機能が利用可能となります。
            その後は双方で予定をすり合わせ、双方合意のもと若者はお年寄りに移動手段（車　運転者は若者）を提供し、移動中の車内ではお年寄りが若者に人生相談を提供します。<br>
          </p>
          <h4 class= "note">※お年寄りから若者に対しお礼として金銭や物品を渡す行為は白タク行為とみなされ、法律に反する可能性があるため、絶対におやめください。</h4>
          <h3 class="subheading">概要</h3>
          <p>
            ・運転ができ、相談したいことがある若者（ヤングユーザー）と、移動したいお年寄り（シニアユーザー）を本機能でマッチング<br>
            ・若者は指定の場所までお年寄りを迎えに行き、目的地までお年寄りを送り届ける<br>
            ・目的地までの車内では、若者はお年寄りに悩み相談を行う<br>
            ・若者は会話の中で得た知恵や知見などをWisdomPost機能で投稿することで、多くの人と学びを共有することができる。
          </p>
          <h3 class="subheading">使用状況</h3>
          <h4 class="subtitle">若者</h4>
          <p>
            ・車を持っており、人生相談をしたい若者<br>
            ・車を持っており、お年寄りと話したい若者
          </p>
          <h4 class= "subtitle">お年寄り</h4>
          <p>
            ・移動したいが、移動手段はないお年寄り<br>
            ・若者と話したいお年寄り
          </p>
          <h3 class="subheading">それぞれのメリット</h3>
          <h4 class="subtitle">若者</h4>
          <p>
            ・人生の大先輩に相談ができる<br>
            ・知恵を得ることができる<br>
            ・話を聞いてもらえる<br>
            ・お年寄りと会話ができる
          </p>
          <h4 class= "subtitle">お年寄り</h4>
          <p>
            ・目的地まで移動ができる<br>
            ・若者と会話ができる
          </p>
          <h4 class= "subtitle">双方</h4>
          <p>
            ・若者とお年寄りのつながりができる<br>
            ・歳の離れた人の話を聞くことができる
          </p>
        </div>
        <div>
          <h1 class="about-block-heading">使用ユーザー</h1>
          <p class="mt-2">本サイトの使用ユーザーはヤングユーザーとシニアユーザーに分かれています</p>
          <h3 class="user-type">ヤングユーザー</h3>
          <p>利用できる機能は・WisdomPost機能・NorituNoraretu機能（ヤングユーザー側機能）です。</p>
          <p>
            ・投稿されたお年寄りの知恵を閲覧したいユーザー<br>・お年寄りから得た知恵を投稿し、共有したいユーザー<br>・シニアユーザーに車を出すことでお年寄りと相談したいユーザー<br>
            上記いずれかに当てはまる場合はヤングユーザーとしての登録をお勧めします
          </p>
          <h3 class="user-type">シニアユーザー</h3>
          <p>利用できる機能はNorituNoraretu機能（シニアユーザー側機能）です。</p>
          <p>
          ・人生経験豊富で、若者の相談に乗りたいユーザー<br>
          ・人生経験豊富で、移動したいが手段がなく、困っているユーザー<br>
          上記に当てはまる場合はシニアユーザーとしての登録をお勧めします
          </p>
        </div>
      </div>
      <h4 class= "note">※具体的な使用方法や使用に関しての注意点などはログイン後のaboutページにそれぞれ記載しています。</h4>
    </div>
  </div>
</div>




