<div class= "container">
  <div><%= flash[:notice] %></div>
  <div class= "row">
    <div class= "mx-auto col">
  </div>
</div>

<%= link_to "新規登録", new_young_user_registration_path  %>
<%= link_to "ログイン", new_young_user_session_path %>
<%= link_to "ゲストログイン（閲覧用）", young_users_guest_sign_in_path, method: :post %>