<div class= "container">
  <div class= "col-12 row">
    <div class="annotation">本サイトはポートフォリオとして作成したものであり、<br>実際に使用される事を意図しておりません。</div>
  </div>
  <div class= "col-8 offset-2">
    <h1 class="about-block-heading">使用方法説明</h1>
    <h2 class= "function-name mt-3">◯NorituNoraretu機能</h2>
    <p>
      この機能は交通弱者のお年寄りと車を持っている若者とのマッチング機能です。<br>
      現在、高齢者が運転する車による事故が社会問題となりつつあります。そのため高齢ドライバーへの運転免許返納を求める意見が多く上がっています。<br>
      しかし、地方にはまだまだ車を所有していなければ生活できない地域が多くあります。そのような地域に住むお年寄りが運転免許を返納すると、生活を送ることが困難になります。<br>
      他方、最近の若者は悩みを多く抱えています。（人生について・仕事に関して・子育ての悩み・介護の悩み・進路・恋愛・冠婚葬祭について）<br>
      この機能は移動が困難なお年寄り（免許返納などの理由で）と悩める若者の二者をつなぎ合わせ、双方の問題を解決するサービスです。<br>
      本サービスの機能によりシニアユーザーが依頼投稿を投稿し、投稿に都合の合うヤングユーザーがいいねを押します。<br>この時点でマッチングが成立し、DM機能が利用可能となります。
      その後は双方で予定をすり合わせ、双方合意のもと若者はお年寄りに移動手段（車　運転者は若者）を提供し、移動中の車内ではお年寄りが若者に人生相談を提供します。<br>
    <h3 class="subheading">投稿</h3>
    <p>
      移動手段の提供を依頼する場合には「投稿」を作成します。<br>
      ヘッダーにある「新規投稿」をクリックすることで投稿作成ページへ移行します。<br>投稿作成ページでは入力フォームに必要事項を記載し、投稿することでヤングユーザーの元に投稿が表示されるようになります。<br>
      ヤングユーザーはその投稿に「いいね」を押すことができます。<br>「いいね」はそのヤングユーザーが投稿に書かれた依頼に応えることができますという意思表示です。<br>投稿にいいねが押されると、いいねしたヤングユーザーとのDMルームが作成され直接話し合いができるようになります。<br>
      DM機能で話し合いの後、双方の合意が取れた場合には、若者がお年寄りに移動手段（車　運転者は若者）を提供し、目的地まで移動中の車中ではお年寄りは若者の相談に乗りましょう。
    </p>
    <h3 class="subheading">マイページ</h3>
    <p>
      ヘッダーにあるマイページボタンを押すと、これまでの投稿一覧や自分のプロフィール画面が表示されます。
    </p>
    <h3 class="subheading">投稿詳細ページ</h3>
    <p>
      投稿一覧から各投稿をクリックすると、投稿の詳細ページに移ります。<br>投稿の詳細ページでは投稿を編集できるほか、投稿にいいねした人の一覧を見ることができます。<br>
      いいねした各young_userの名前をクリックすると、そのユーザーのプロフィール詳細も見ることができます。<br>
      投稿詳細ページからは、投稿にいいねした各ユーザーとのDMページに移行することができます。
    </p>
    <h1 class="about-block-heading">トラブル懸念点への対応等</h1>
    <p class= "mt-3">
      本サイトは法律に準拠して使用される事を意図しています。<br>
      本サイトを介しての犯罪行為・それに準ずる行為は固く禁じます。<br>
      本サイトを使用してのトラブルに関しては一切の責任を負いません。
    </p>
  </div>
</div>








