<div class= "container">
  <div class= "col-12 row">
    <div class="annotation">本サイトはポートフォリオとして作成したものであり、<br>実際に使用される事を意図しておりません。</div>
  </div> 
  <div class= "col-8 offset-2">
    <h1 class="about-block-heading">使用方法説明</h1>
    <h2 class= "function-name mt-3">◯NorituNoraretu機能</h2>
    <p>
      この機能は交通弱者のお年寄りと車を持っている若者とのマッチング機能です。<br>
      現在、高齢者が運転する車による事故が社会問題となりつつあります。そのため高齢ドライバーへの運転免許返納を求める意見が多く上がっています。<br>
      しかし、地方にはまだまだ車を所有していなければ生活できない地域が多くあります。そのような地域に住むお年寄りが運転免許を返納すると、生活を送ることが困難になります。<br>
      他方、最近の若者は悩みを多く抱えています。（人生について・仕事に関して・子育ての悩み・介護の悩み・進路・恋愛・冠婚葬祭について）<br>
      この機能では移動が困難なお年寄り（免許返納などの理由で）と悩める若者の二者をつなぎ合わせ、双方の問題を解決するサービスです。<br>
      本機能によりマッチングが成立すると、DM機能で双方で話し合い予定を合わせることができます。<br>
      その後は若者がお年寄りに移動手段（車 運転者は若者）を提供し、その移動中の車中ではお年寄りは若者の相談にのるというものです。
      このサービスを利用することで双方持ちつ持たれつの関係となり、より良い社会が実現できるのではないかと考えています。<br>      
    </p>
    <h3 class="subheading">投稿</h3>
    <p>
      移動手段の提供を依頼する場合には「投稿」を作成します。<br>
      ヘッダーにある「新規投稿」をクリックすることで投稿ページへ移行します。<br>投稿ページでは入力フォームに必要事項を記載し、投稿することでヤングユーザーの元に投稿が表示されるようになります。
      ヤングユーザーはその投稿に「いいね」を押すことができます。<br>「いいね」はそのヤングユーザーが投稿に書かれた依頼に応えることができますという意思表示です。<br>投稿にいいねが押されると、いいねしたヤングユーザーとのDMルームが作成され、予定の詳細について話し合うことができます。
      DM機能で話し合いの後、双方の合意が取れた場合には、若者がお年寄りに移動手段（車　運転者は若者）を提供し、目的地まで移動中の車中ではお年寄りは若者の相談に乗りましょう。
    </p>
    <h3 class="subheading">マイページ</h3>
    <p>
      ヘッダーにあるマイページボタンを押すとこれまでに自分が投稿した投稿の一覧や自分のプロフィール画面が表示されます。
    </p>
    <h3 class="subheading">投稿詳細ページ</h3>
    <p>
      投稿一覧から各投稿をクリックすると、投稿の詳細ページに移ります。<br>投稿の詳細ページでは投稿を編集できるほか、投稿にいいねした人の一覧を見ることができます。<br>
      いいねした各young_userの名前をクリックすると、そのユーザーのプロフィール詳細も見ることができます。<br>
      投稿詳細ページからは、投稿にいいねした各ユーザーとのDMページに移行することができます。
    </p>
    <h1 class="about-block-heading">トラブル懸念点への対応等</h1>
      <p class= "mt-3">
        本サイトは法律法律に準拠して使用されることを意図しております。<br><span class="deficit">法律に反する行為・犯罪行為は絶対に行わないでください。</span>
        また個人情報保護の観点から、個人情報が特定できるような投稿、DM機能ないでの会話は行わないでください。<br>
        詐欺利用、その他本サイトの目的に反する利用は絶対に行わないでください。<br>
        NorituNoraretu機能使用時における交通事故に関しては、法律に準拠し対応をお願いいたします。
      </p>
  </div>
</div>








